snippet top
	<!DOCTYPE html>

	<html>
		<head>
			<meta charset="UTF-8" />
			<link rel="stylesheet" href="css/style.css" />

			<title>Sample Title</title>
		</head>

		<body>
		</body>
	</html>
snippet copy
	&copy;
snippet space
	&nbsp;
snippet less
	&lt;
snippet greater
	&gt;
snippet cent
	&cent;
snippet reg
	&reg;
